backend:
  name: github
  repo: rpfilomeno/blog # Path to your GitHub repository
  branch: main

media_folder: 'src/assets/images'
public_folder: '/_astro'

collections:
  - name: 'post'
    label: 'Post'
    folder: 'src/content/post'
    create: true
    fields:
      - { label: 'Title', name: 'title', widget: 'string' }
      - { label: 'Description', name: 'description', widget: 'string' }
      - { label: 'Category', name: 'category', widget: 'string' }
      - {
          label: 'Tags',
          name: 'tags',
          widget: 'list',
          allow_add: true,
          allow_delete: true,
          collapsed: false,
          field: { label: 'Tag', name: 'tag', widget: 'string' },
        }
      - { label: 'Cover Image', name: 'cover', widget: 'string' }
      - { label: 'Cover Image Credit', name: 'coverImageCredit', widget: 'string' }
      - { label: 'Publish Date', name: 'pubDate', widget: 'datetime', required: false }
      - { label: 'Content', name: 'body', widget: 'markdown' }