---
import BaseHead from '../components/BaseHead.astro'
import Navbar from '../components/Navbar.astro'
import Footer from '../components/Footer.astro'
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts'
import { GoogleTagmanager, GoogleTagmanagerNoscript } from '@digi4care/astro-google-tagmanager';
import Botpress from '../components/Botpress.astro';

interface Props {
	title?: string
	description?: string
}

const { title, description } = Astro.props

import '@fontsource-variable/inter'
import '@fontsource-variable/jetbrains-mono'
---

<!doctype html>
<html lang="en">
	<head>
    <GoogleTagmanager id="G-VLXN0Y9Q0W" />
		<Botpress />
		<BaseHead
			title={title || SITE_TITLE}
			description={description || SITE_DESCRIPTION}
		/>
	</head>
	<body
		class="text-foreground bg-background font-light dark:text-foreground-dark dark:bg-background-dark transition-colors"
	>
		<GoogleTagmanagerNoscript id="G-VLXN0Y9Q0W" domain="https://roger.rogverse.fyi" />
		<Navbar title={SITE_TITLE} />
		<slot />
		<Footer />  
	</body>
</html>
